body {
    width: 75%;
   margin: 0px auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

header {
    height: 100px;
}

header > nav {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}

#logo-icon {
   margin-left: 50px;
   margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#build {
    text-align: center;
}

#matchTitle {
    text-align: center;

}

#retryButton {
    margin-top: 300px;
}

#bestFriendModal {
	text-align: center;
}

#bestFriendPhoto {
	max-width: 100%;
	height: auto;
}

#bestFriend {
    text-align: center;
}

#fName {
    text-align: center;
    margin-left: 20px;
}


#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
    background-color: lightgray;
}

#modalMatch {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
    text-align: center;
}

